doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name='viewport', content='width=device-width, initial-scale=1.0')

		title realcase
		link(href="https://fonts.googleapis.com/css?family=Montserrat:400,700&amp;subset=cyrillic" rel="stylesheet")
		link(rel="stylesheet" href="static/css/main.css")
	body
		section.realcase
			.realcase__container
				.realcase__header
					.realcase__title
						h2 
							span Рассмотрим 
							| реальный случай
						.realcase__item-title
							h3 Игорь и Юля Ивановы
							p из Омска выбрали квартиру стоимостью 4 081 000 ₱, общей площадью 37.1 кв.м., с видом на море и детскую площадку
							.realcase__plus
								span +
				.realcase__items
					.realcase__item
						h3 Банк
						p в течение двух недель одобрил ипотеку в рублях под 7% годовых, без первоначального взноса
						.realcase__plus
							span +
					.realcase__item
						h3 Оплата квартиры
						p полностью производится банком
						.realcase__plus
							span +
					.realcase__item
						h3 Ключи
						p молодые люди становятся счастливыми обладателями квартиры в Сочи
						.realcase__plus
							span +
					.realcase__item
						.bg-text
							h3 Бонусы
							p 6% от стоимости квартиры автоматически зачисляется на бонусный счёт в AT BONUS
						.realcase__plus
							span +
					.realcase__item
						h3 Активация контракта
						p Игорь активировал контракт PREMIUM на сумму 60 000 €, тем самым открыл себе доступ к получению вознаграждений в программе лояльности AT BONUS
						.realcase__plus
							span +
					.realcase__item
						h3 Бонусная программа
						p Всего два покупателя по ссылке Игоря принесли ему заработок 20 000 €
						.realcase__plus
							span +

		

	//-script(src="static/js/libs.min.js")
	//-script(src="static/js/main.js")














